.history
venv
.venv
__pycache__
EDA/.ipynb_checkpoints/Untitled0-checkpoint.ipynb
Untitled0_BACKUP_14023.ipynb
EDA/Untitled0_BASE_14023.ipynb
EDA/Untitled0_LOCAL_14023.ipynb
EDA/Untitled0_REMOTE_14023.ipynb